<header>
        <div class="logo">Tami4ok-shop</div>
        <nav>
            <a href="/">Home</a>
            <a href="/products">Assets</a>
            <a href="video.html">video</a>
            <a href="xentoi.html">xentoi</a>
        </nav>
        <div class="cart">
            <a href="/cart">Cart</a>
        </div>
    </header>